# Site settings
title: root-nst
description: 'Jekyll-Uno - a minimal, responsive theme for Jekyll'
url: 'http://root-nst.github.io/jekyll-uno'
baseurl: '/jekyll-uno/'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'root-nst'
  email: dkvsayuti@gmail.com  
  twitter_username: root_nst
  facebook_username: sayuti.photographdiskomvis
  github_username:  root-nst  
  linkedin_username:  root-nst

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
